@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  font-family: 'Open Sans', sans-serif;
}

.fl{
  display: flex;
}

.flC{
  flex-direction: column;
}

.flR{
  flex-direction: row;
}

.boxOut{
  border: 2px solid black;
}

.headerArea{
    /* margin-left:  ; */
}


.head{

  width: 100%;
  height: 4rem;
  color: white;
}


/* -------------------------------------------------------------------------------- */
.texWh{
  color: white;
}


.colDarG{
  background-color: #3B5249;
}
.colMedG{
  background-color: #519872;
}
.colLightG{
  background-color: #AFD4C0;
}
.colLight{
  background-color: #E5F4EC;
}
.colGreen{
  background-color: #8AEA92;
}
.colPink{
  background-color: #FEC2C2;
}
.colGray{
  background-color: #DEDEDE;
}






/* --------------------------------------------------------------------------------*/

.imgRes{
  width: 20px;
  height: 20px;
}
.padT{
padding-top: 5rem;
}
.padB{
  padding-bottom: 5rem;
  }
.dashCont{
  display: flex;
  flex-direction: column;
  width: 80%;
  /* height: 300vh; */
  margin: 0 auto;
}
.dashIn{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between
}
.dashTop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}
.dashTop>h1{
  /* margin-left: 50px; */
}

.cancelButt{
  border: none;
  height: 3rem;
  width: 4rem;
}

.addButt{
  border: none;
  height: 3rem;
  width: 10rem;
}

.wizMain{
display: flex;
flex-direction: column;
width: 60%;
height: 100vh;
margin: 0 auto;
}
.wizTop{
  display: flex;
  flex-direction: row;
}

.pad{
  padding-top: 6rem;
  /* text-align: right; */
  /* padding-right: 3rem; */
}

.houseBox{
  margin: 10px;
  /* display: flex; */
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.houseOuter{
  /* display:flex; */
  flex-direction: column;
}

.contHouse{
  display:flex;
  justify-content: space-between;
  
}

.picS{
  width: 15rem;
}

/* .deldiv{
  
} */